<div *ngIf="album">
  <form class="jumbotron bg-dark">
    <h1 class="text-white"><strong>{{ album.name }}</strong></h1>
    <br>
           <ul>
            <li *ngFor="let artisti of album.artists">
            <a [routerLink]="['/artists', artisti.id]">
               <h3 class="text-white"> {{ artisti.name }}</h3>
                </a>
            </li>
        </ul>
        <p>
        <br>
        <img src="{{ album.images[1].url }}">
    </p>
    <br>
    <h1 class="text-white">tipo: {{ album.album_type }}</h1>
    <br>
      <h1 class="text-white">tracce totali: {{ album.total_tracks}}</h1>
      <br>
        <ul>
            <li *ngFor="let artist of album.tracks.items">
            <br>
                <a [routerLink]="['/tracks', artist.id]">
                <br>
               <h3 class="text-success"> {{ artist.name }}</h3>
                </a>
            </li>
        </ul>
  </form>
      <p><a href (click)="back()">Back</a></p>
</div>
